// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-dodger-blue: #00b2ff;
$color-gable-green: #1b2d37;
$color-gallery: #ebebeb;
$color-concrete: #f2f2f2;
$color-dove-gray: #666666;
$color-silver: #cdcdcd;
$color-slate-gray: #788891;
$color-te-papa-green: #203c42;
$color-alabaster: #fafafa;
$color-red: #fd0000;
$color-green: #58f311;
$color-corduroy: #626962;
