.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid $color-white;
  border-radius: 5px;
  color: $color-white;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  transition: all ease-in-out 0.3s;
}

.btn--header:hover,
.btn--header:focus,
.btn--header:active {
  border-color: $color-dodger-blue;
  background-color: $color-dodger-blue;
  transition: all ease-in-out 0.3s;
}

.btn--header {
  width: 180px;
  flex-shrink: 0;
}

@include tablet {
  .btn--header {
    display: none;
  }
}
