.socials {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 16px;

  &:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.socials__link {
  color: $color-silver;

  &:hover,
  &:focus,
  &:active {
    color: $color-dodger-blue;
  }
}
